html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jost", sans-serif;
  color: #fff;
  background-color: #fff;
  line-height: 120%;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  max-width: 1094px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.h1 {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0%;
}

.h2 {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #000;
  margin-bottom: 40px;
}

.h3 {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0%;
}

.h4 {
  font-size: 28px;
  line-height: 120%;
  letter-spacing: 0%;
}

.h5 {
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
}

.button {
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
}

.headline1 {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}

.headline2 {
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
}

.headline3 {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}

/* ------HEADER------ */
.header {
  margin: 0 auto;
  position: relative;
}

.header_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: transparent;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.header_nav {}

.header_list {
  display: flex;
  /* gap: 40px; */
  align-items: center;
}

.header_item {
  flex-shrink: 0;
}

.header_link {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
  padding: 8px 20px;
  transition: all 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.header_link:hover {
  border-radius: 40px;
  padding: 8px 20px;
  background-color: #e2e6ee;
  color: #000;
}

.header_link_home {
  padding: 8px 32px;
  background: #e2e6ee;
  border-radius: 40px;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #000;
  margin-right: 20px;
}

.header_burger_button {
  display: none;
}

/* ----- HERO ----- */
.hero_section {
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0 0 72px 72px;
  background-image: url(../images/hero/bg_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #000;
  margin-bottom: 100px;
}

@media (webkit-min-device-pixel-ratio: 2),
(min-resolution: 1980dpi),
(min-resolution: 2dppx) {
  .hero_section {
    background-image: url(../images/hero/bg_2x.jpg);
  }
}

.hero_container {
  margin: 0 auto;
  display: flex;
  padding-top: 110px;
  padding-bottom: 143px;
}

.hero_left_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero_h1 {
  font-weight: 600;
  color: #fff;
  max-width: 511px;
  margin-bottom: 20px;
}

.hero_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #B2B2B2;
  max-width: 477px;
  margin-bottom: 80px;
}

.hero_button {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #000;
  background-color: #fff;
  border-radius: 40px;
  padding: 16px 32px;
  max-width: 232px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95), color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

}

.hero_button:hover {
  background-color: #b4b4b4;
}

.hero_button:active {
  background-color: #000;
  color: #fff;
}

.hero_image_box {
  position: relative;
  flex-shrink: 0;
}

.hero_img {
  max-width: 586px;
}

.hero_image_content {
  display: flex;
  gap: 32px;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hero_image_icons {}

.hero_image_text {
  font-weight: 400;
  color: #B2B2B2;
  max-width: 205px;
}

/* -----benefit----- */
.benefit_section {}

.benefit_container {}

.benefit_h2 {
  font-weight: 700;
  /* margin-bottom: 40px; */
}

.benefit_content {
  border-radius: 40px;
  width: 1064px;
  background: #0a0a0a;
}

.benefit_content_box {
  padding: 46px 23px 46px 35px;
  display: flex;
  gap: 20px;
}

.benefit_content_right {
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 27px 22px 25px 22px;
  max-width: 480px;
  background: #1a1a1a;
}

.benefit_right_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 87px;
  margin-top: 21px;
}

.benefit_right_text {}

.benefit_content_left {
  flex-shrink: 0;
}

.benefit_left_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.benefit_left_item_box {
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 42.5px 38px 42.5px 16px;
}

.benefit_left_item {
  max-width: 245px;
  background-color: rgba(255, 255, 255, 0);
}

.benefit_left_h4 {
  font-weight: 700;
}

.benefit_left_text {}

/* ---------------speakers--------------- */
.speakers_slider-container {
  max-width: 1064px;
  margin: 0 auto;
  overflow: hidden;
}

.speakers_slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%;
}

.speakers_slide {
  flex: 0 0 33.333%;
  border-radius: 40px;
  background: #e2e6ee;
}

.speakers_slider-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.speakers_nav-button {
  background-color: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.speakers_nav-button:disabled {
  cursor: not-allowed;
  color: transparent;
}

.speakers_slide-indicator {
  margin: 0 8px;
  font-size: 14px;
  color: #000;
}

.speakers_section {}

.speakers_container {}

.speakers_h2 {
  /* margin-bottom: 40px; */
}


.speakers_content {
  border-radius: 40px;
  width: 1064px;
  background: #e2e6ee;
}

.speakers_content_box {
  padding: 50px 40px 50px 50px;
  display: flex;
  gap: 40px;
}

.speakers_content_right {
  flex-shrink: 0;
}

.speakers_right_img {
  border: 2px solid #000;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.speakers_content_left {
  margin: -7.5px 7.5px;
}

.speakers_content_left_bg {
  border-radius: 20px;
  width: 594px;
  height: 227px;
  backdrop-filter: blur(44px);
  background-color: #000;
  margin-top: 26px;
}

.speakers_left_text_container {
  border: 1.50px solid #000;
  border-radius: 16px;
  padding: 26px 29px;
  max-width: 582px;
  height: 227px;
  backdrop-filter: blur(44px);
  background: #f9fafc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 64px;
}

.speakers_text_heading {
  font-weight: 800;
  font-size: 28px;
  line-height: 120%;
  color: #000;
}

.speakers_text_description {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #585454;
}

.speakers_buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 57px;
}

.speakers_buttons_btn {
  border: 1px solid #000;
  border-radius: 28px;
  padding: 6px 16px;
  background-color: transparent;
  color: #000;
  transition: all 0.3s;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
}

.speakers_buttons_btn:hover,
.speakers_buttons_btn.active {
  background-color: #000;
  color: #fff;
}

/* ----------------training---------------- */
.training_section {}

.training_container {
  max-width: 1064px;
  overflow: hidden;
  padding: 0;
}

.training_h2 {
  /* margin-bottom: 40px; */
}

.slider-container {}

.training_slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 400%;
}

.training_slide {
  flex: 0 0 25%;
}

.training_slide {
  border-radius: 40px;
  background: #0a0a0a;
  max-width: 1064px;
}

.training_content_box {
  padding: 45.5px 32.5px 45.5px 32.5px;
  display: flex;
  gap: 64px;
}

.training_content_right {
  flex-shrink: 0;
  border: 1px solid #fff;
  border-radius: 40px;
  width: 517px;
  height: 436px;
  background: rgba(56, 56, 56, 0.8);
}

.training_content_right_box {
  padding: 21.87px 24.97px 26px 21.87px;
}

.training_right_img {
  border: 1px solid #fff;
  border-radius: 16px;
  max-width: 467px;
  margin-bottom: 20.7px;
}

.training_right_btn {
  border-radius: 40px;
  padding: 11px 11px 11px 11px;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.training_content_left {
  background: #fff;
  border-radius: 40px;
}

.training_left_text_container {
  padding: 29px 43px 47px 43px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.training_title_h4 {
  font-weight: 800;
  font-size: 32px;
  color: #000;
}

.training_text_description {
  color: #585454;
}

.training_slider-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.training_nav-button {
  background-color: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.training_nav-button:disabled {
  /* background-color: #cccccc; */
  cursor: not-allowed;
  color: transparent;
}

.training_slide-indicator {
  margin: 0 8px;
  font-size: 14px;
  color: #000;
}

/* ---------------cases--------------- */
.cases_slider-container {
  max-width: 1064px;
  margin: 0 auto;
  overflow: hidden;
}

.cases_slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 1200%;
  /* Змінюється в залкжності від кількості слайдів  */
}

.cases_slide {
  flex: 0 0 8.333%;
  /* Змінюється 100/ в залкжності від кількості слайдів  */
  border-radius: 40px;
  background: #e2e6ee;
}

.cases_slider-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cases_nav-button {
  background-color: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.cases_nav-button:disabled {
  cursor: not-allowed;
  color: transparent;
}

.cases_slide-indicator {
  margin: 0 8px;
  font-size: 14px;
  color: #000;
}

.cases_section {}

.cases_container {}

.cases_h2 {
  /* margin-bottom: 40px; */
}


.cases_content {
  border-radius: 40px;
  width: 1064px;
  background: #e2e6ee;
}

.cases_content_box {
  padding: 50px 40px 50px 50px;
  display: flex;
  gap: 40px;
}

.cases_content_right {
  flex-shrink: 0;
}

.cases_right_img {
  border: 2px solid #000;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cases_content_left {
  margin: -7.5px 7.5px;
}

.cases_content_left_bg {
  border-radius: 20px;
  width: 594px;
  height: 227px;
  backdrop-filter: blur(44px);
  background-color: #000;
  margin-top: 26px;
}

.cases_left_text_container {
  border: 1.50px solid #000;
  border-radius: 16px;
  padding: 26px 29px;
  max-width: 582px;
  height: 227px;
  backdrop-filter: blur(44px);
  background: #f9fafc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 64px;
}

.cases_text_heading {
  font-weight: 800;
  font-size: 28px;
  line-height: 120%;
  color: #000;
}

.cases_text_description {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #585454;
}

.cases_buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 57px;
}

.cases_buttons_btn {
  border: 1px solid #000;
  border-radius: 28px;
  padding: 6px 16px;
  background-color: transparent;
  color: #000;
  transition: all 0.3s;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
}

.cases_buttons_btn:hover,
.cases_buttons_btn.active {
  background-color: #000;
  color: #fff;
}

/* -----------------career----------------- */
.career_section {}

.career_container {}

.container {
  max-width: 1064px;
}

.career_h2 {
  /* margin-bottom: 40px; */
}

.career_slider-container {
  position: relative;
  overflow: hidden;
  background-color: #070707;
  border-radius: 40px;
  padding: 52px;
  height: 437px;
  display: flex;
  align-items: center;
}

.career_slide {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.career_slide.career_active {
  display: block;
  opacity: 1;
}

.career_slide-content {}

/* @media (min-width: 768px) {
  .career_slide-content {
    flex-direction: row;
    align-items: center;
  }
} */

.career_slide-text {
  max-width: 486px;
}

.career_slide-h4 {
  font-weight: 800;
  color: #fff;
  margin-bottom: 12px;
}

.career_slide-description {
  color: #c8c8c8;
  margin-bottom: 40px;
}

.career_hash-buttons {
  display: flex;
  gap: 4px;
}

.career_hash-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 8px 16px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95), color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.career_hash-button:hover {
  background-color: #fff;
  color: #000;
}

.career_slide-image {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.career_slide-image img {
  width: 100%;
}

/* ------------------community------------------ */
.community_section {}

.community_container {}

.container {
  max-width: 1064px;
}

.community_h2 {
  /* margin-bottom: 40px; */
}

.community_slider-container {
  position: relative;
  overflow: hidden;
  background-color: #070707;
  border-radius: 40px;
  padding: 52px;
  height: 437px;
  display: flex;
  align-items: center;
}

.community_slide {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.community_slide.community_active {
  display: block;
  opacity: 1;
}

.community_slide-content {}

/* @media (min-width: 768px) {
  .community_slide-content {
    flex-direction: row;
    align-items: center;
  }
} */

.community_slide-text {
  max-width: 486px;
}

.community_slide-h4 {
  font-weight: 800;
  color: #fff;
  margin-bottom: 12px;
}

.community_slide-description {
  color: #c8c8c8;
  margin-bottom: 40px;
}

.community_hash-buttons {
  display: flex;
  gap: 4px;
}

.community_hash-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 8px 16px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95), color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.community_hash-button:hover {
  background-color: #fff;
  color: #000;
}

.community_slide-image {
  position: absolute;
  right: -35px;
  bottom: -12px;
  z-index: 0;
}

.community_slide-image img {
  width: 100%;
}

/* -------------tuition------------- */
.tuition_section {}

.tuition_container {}

.tuition_h2 {
  margin-bottom: 54px;
}

.tuition_content {
  display: flex;
  gap: 20px;
}

.tuition_content_wrapper {
  max-width: 342px;
  border-radius: 40px;
  background: linear-gradient(180deg, #e2e6ee 0%, #e2e6ee 100%);
  transition: all 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.tuition_content_wrapper.active {
  background: linear-gradient(180deg, #070707 0%, #1d1d1d 100%);
  color: #f3f3f6;
  transform: scale(1.05);
}

.tuition_box {
  padding: 45px 25px 45px 27px;
}

.tuition_content_h5 {
  font-weight: 500;
  color: #1b1b1b;
  margin-bottom: 8px;
}

.tuition_content_h5.active-header {
  color: #f3f3f6;
}

.tuition_content_subtitle {
  font-size: 14px;
  line-height: 150%;
  color: #464648;
  margin-bottom: 16px;
}

.tuition_content_column {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid #b5b5b5;
  margin-bottom: 20px;
}

.tuition_column_one {}

.tuition_column_one_text {
  font-size: 14px;
  line-height: 150%;
  color: #767678;
  margin-bottom: 2px;
}

.tuition_column_one_price {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #5245dd;
}

.tuition_column_one_price span {
  font-weight: 700;
  font-size: 24px;
  line-height: 145%;
}

.tuition_column_one_aside {
  display: flex;
  gap: 13px;
}

.tuition_aside_text {
  font-size: 12px;
  line-height: 120%;
  text-decoration: line-through;
  color: #464648;
}

.tuition_aside_text2 {
  font-size: 12px;
  line-height: 150%;
  color: #464648;
}

.tuition_column_two {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  gap: 9px;
}

.tuition_column_two_text {}

.tuition_column_two_aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tuition_two_aside_price {}

.tuition_two_aside_price_text {
  font-size: 16px;
  line-height: 150%;
  color: #5245dd;
}

.tuition_two_aside_price_text2 {
  font-size: 12px;
  line-height: 120%;
  text-decoration: line-through;
  color: #464648;
}

.tuition_two_aside_discont {}

.tuition_two_aside_discont_text {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  color: #1b1b1b;
  border-radius: 12px;
  padding: 0px 4px;
  background-color: #ffd400;
}

.tuition_content_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: #1b1b1b;
  list-style: revert;
  padding-left: 24.5px;
}

.tuition_content_list.active-cit {
  color: #f3f3f6;
}

.tuition_content_item {}

.tuition_content_item_text {
  font-weight: 400;
}

.tuition_content_two {}

.tuition_content_three {}

.tuition_button {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #000;
  padding: 12px 111px;
  border: 1px solid #000;
  border-radius: 40px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.tuition_button:hover {
  background-color: #b4b4b4;
}

.active .tuition_button {
  background-color: #b4b4b4;
}

.active .tuition_button:hover {
  background-color: #E2E6EE;
}

.tuition_column_one_price.active-cop,
.tuition_two_aside_price_text.active-tapt {
  color: #74b7fe;
}

.tuition_content_subtitle.active-cs,
.tuition_aside_text.active-at,
.tuition_aside_text2.active-at2,
.tuition_two_aside_price_text2.active-tapt {
  color: #e3e3e3;
}

/* ------------------reviews------------------ */
.reviews_section {}

.reviews_container {
  max-width: 1200px;
}

.reviews_h2 {}

.reviews_slider-container {
  margin: 40px auto;
  overflow: hidden;
  background: #070707;
  border-radius: 40px;
  padding: 56px 0px
}

.reviews_slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  position: relative;
}

.reviews_slide {
  max-width: 33.333%;
  /* Каждый слайд занимает 1/x ширины */
  padding: 20px;
  display: flex;
  gap: 13px;
  position: relative;
}

.reviews_slide:not(:last-child):after {
  content: "";
  width: 2px;
  height: 211px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}

.reviews_slide_bracket {
  font-weight: 400;
  font-size: 100px;
  line-height: 100%;
  color: #fff;
}

.reviews_slide_content {
  padding-top: 33px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: space-between;
  align-items: flex-start;
}



.reviews_slide_content_text {}

.reviews_slide_content_name {}

.reviews_content_name {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
  margin-bottom: 4px;
}

.reviews_content_profession {
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
}

.reviews_slider-nav {
  display: flex;
  justify-content: space-between;
}

.reviews_carousel-button {
  color: #fff;
  background-color: transparent;
  border: none;
}

.reviews_prev {}

.reviews_next {}

/* ---------------contactUs------------- */
.contactUs_section {}

.contactUs_container {}

.contactUs_h2 {}

.contactUs_content {
  border-radius: 40px;
  backdrop-filter: blur(44px);
  background-color: #e2e6ee;
}

.contactUs_content_box {
  padding: 69px 50px 40px 57px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 86px;
}

.contactUs_content_right {
  flex-shrink: 0;
}

.contactUs_right_desc {
  max-width: 455px;
}

.contactUs_h3 {
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  color: #000;
  margin-bottom: 24px;
}

.contactUs_right_text {
  font-size: 18px;
  line-height: 120%;
  color: #636363;
}

.contactUs_content_left {}

.contactUs_left_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 25px;
}

.contactUs_input {
  border-radius: 40px;
  border-color: transparent;
  padding: 16px 36px 16px 36px;
  width: 415px;
  background: #fff;
  outline: transparent;
}

.contactUs_input {}

.contactUs_input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #969696;
}

.contactUs_input_text {}

.contactUs_input_email {}

.contactUs_input_tel {}

.contactUs_form_desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #414141;
  margin-bottom: 25px;
}

.contactUs_form_btn {
  padding: 16px 150px;
  border-radius: 40px;
  background-color: #000;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #fff;
}

/* --------------footer---------------- */
.footer {
  border-radius: 60px 60px 0 0;
  background-color: #000;
}

.footer_container {
  max-width: 1281px;
}

.container {}

.footer_logo {
  padding: 40px 0 34px 108px;
}

.footer_content {
  padding-left: 107px;
  padding-right: 21.5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 66px;
}

.footer_content_text {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  max-width: 403px;
}

.footer_content_contacts {}

.footer_contacts_title {
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 20px;
}

.footer_contacts_address {}

.footer_adsress_link {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.footer_address_list {
  display: flex;
  flex-direction: column;
  gap: 12.5px;
}

.footer_address_item {}

.footer_address_svg {
  margin-right: 15px;
}

.footer_privacy {
  padding-left: 107.5px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_privacy_created {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.footer_privacy_policy {
  display: flex;
  gap: 32px;
}

.footer_privacy_link {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}